<div *ngIf="movie">
	<div class="row">
		<div class="col-md-8">
			<h2>{{movie.name}}</h2>
			<p>({{movie.mpaaRating.type}}: {{movie.mpaaRating.label}})</p>
		</div>
	</div>
	<hr>
  	<div class="row">
		<div class="col-md-4">
			<img src="{{movie.imgPath}}" />
		</div>
		<div class="col-md-8">
			<h3>Details</h3>
      		<p>Genre: {{movie.genre}}</p>
      		<p>Language: {{movie.language}}</p>
			<p>Duration: {{movie.duration}} minutes</p>
      		<p>User Rating: {{movie.userRating}}</p>
			<hr>
			<h3>Synopsis</h3>
			<p>{{movie.description}}</p>
  			<hr>
  			<button class="btn btn-default left movie-details" (click)="editMovieDetails(movie.id)">Edit Movie Details</button>
  			<button class="btn btn-default left" (click)="goBack()">Back</button>
		</div>
	</div>
</div>