<div class="container">
  <h1>{{title}}</h1>
  <hr>
  <div class="row">
    <div class="col-md-3">
      <a [routerLink]="['LanguageGrid', { language:''}]">Movie List</a>
    </div>
    <div class="col-md-3">
      <label>Language: </label>
      <select class="form-control" name="languageselect" (change)="onLanguageChange($event.target.value)">
        <option value="">All</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="Tamil">Tamil</option>
        <option value="Mandarin">Mandarin</option>
        <option value="Korean">Korean</option>
      </select>
    </div>
    <div class="col-md-3">
      <label>Audience Type: </label>
      <select class="form-control" name="audienceselect" (change)="onAudienceChange($event.target.value)">
        <option value="">All</option>
        <option value="PG">PG</option>
        <option value="PG13">PG13</option>
        <option value="NC16">NC16</option>
        <option value="M18">M18</option>
        <option value="R21">R21</option>
      </select>
    </div>
    <div class="col-md-3">
      <label>Ratings: </label>
      <select class="form-control" name="ratingselect" (change)="onRatingChange($event.target.value)">
        <option value="">All</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <hr>
  <router-outlet></router-outlet>
</div>